@{
    ViewBag.Title = "Framework.MVC Demo Site";
}

<h2>Welcome to the SSW.Framework.Web.Mvc Documentation Site</h2>

<p>
    Browse documentation, code examples and live demos.
</p>





